.mooveezBox {
  padding-top: 1.7em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  animation: fade-in 3s linear;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
