
.mooveezBox{
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: fade-in 3s linear;
    
    
}

  @keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
  }