.loginBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginBoxContainer{
    display: grid;
    place-items: center;
    height:50em;
}

button{
    width: 6em;
}

.logOutButton{
    width: 6em;
}

body{
    overflow-y: hidden;
   
}
