.loginBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginBoxContainer{
    height: 45em;
    display: grid;
    place-items: center;
}

button{
    width: 6em;
}

.logOutButton{
    width: 6em;
}

/* body{
    overflow-y: hidden;
   
} */
